@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
    border-top-color: black;
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  h2 {
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  .btn {
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #38a169;
  }